project:
  type: book
  output-dir: docs

book:
  title: "Advanced Regression Models with R"
  author: 
     name: "Florian Hartig"
     url: https://www.uni-regensburg.de/biologie-vorklinische-medizin/theoretische-oekologie/mitarbeiter/hartig/
  date: "Sept 2022"
  site-url: https://TheoreticalEcology.github.io/AdvancedRegressionModels/
  repo-url: https://github.com/TheoreticalEcology/AdvancedRegressionModels
  repo-branch: master
  repo-actions: [edit]
  sharing: [twitter, facebook, linkedin]
  chapters:
    - index.qmd
    - 1A-GettingStarted.qmd
    - part: "Modelling the mean"
      chapters: 
      - 2A-LinearRegression.qmd
      - 2B-ANOVA.qmd
      - 2C-RandomEffects.qmd
    - part: "Model Choice"
      chapters: 
      - 3A-MissingData.qmd
      - 3B-CausalInference.qmd
      - 3C-ModelSelection.qmd
    - part: "Modelling the distribution"
      chapters: 
      - 4A-GLMs.qmd    
      - 4B-Heteroskedasticity.qmd
      - 4C-CorrelationStructures.qmd
    - part: "Summary and references"
      chapters: 
      - 5A-Summary.qmd   
      - 5B-References.qmd
  appendices:
    - 6A-RCrashCourse.qmd
    - 6B-CheatSheet.qmd
    - 6C-CaseStudies.qmd
  engine: knitr
  
bibliography: literature.bib
google-scholar: true

execute:
  freeze: auto
  cache: false

format:
  html:
    theme: cosmo
editor: visual


